<div class="container">
    <div class="row">
        <div class="col-md-9">
            <span class="anchor" id="formLogin"> </span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="nd-0">Lista de Deseos</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingrsar nombre..." #nombre>
                        </div>
                        <div class="form-group">
                            <label for="imagen url">Imagen Url</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresa url..."
                                #imagenUrl>
                        </div>
                        <button class="btn btn.primary" (click)="guardar(nombre.value,imagenUrl.value)">Guardar</button>
                    </form>
                </div>
            </div>

        </div>
        <hr class="nd-6">
        <div class="row row-flex">
            <app-destino *ngFor="let item of destinos"  
            [destinos]=item
            (clicked)="elegido(item)"
            ></app-destino>
        </div>
    </div>