<div class="card-content">

    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{destinos.nombre}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destinos.nombre}}</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid rerum autem voluptas et enim velit, qui
            dignissimos in iste, voluptatum unde doloribus dolore cupiditate quidem laboriosam distinctio quos
            temporibus debitis.</p>
        <a href="#" class="btn-card" (click)="ir()">Ir!</a>
        <span [style.display]="destinos.isSelected()?'':'nombre'">PREFERIDO</span>

    </div>
</div>